#g-msgs {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2;
}

#g-msgs .alert {
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
}

#g-msgs .alert .x {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    background: red;
    color: #fff;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1.75rem;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 1em;
}

.list table td.c,
.list table td.a {
    padding: 0;
    vertical-align: top;
    text-align: center;
    width: 2rem;
}

.list table td.a {
    width: 4rem;
}

.list table td.c input[type="checkbox"]+label {
    padding: 0 0 0 2.6em;
    border: none;
    font-size: 1rem;
    margin-bottom: -0.1rem;
}

.list table td.a a {
    padding: 0.3em;
    display: inline-block;
    margin-top: 0.1em;
}

.list tr.active td {
    background-color: rgba(255, 255, 0, 0.2) !important;
}

.list tr.checked td {
    background-color: rgba(0, 255, 0, 0.1) !important;
    color: green;
}

form.task .button.link.i {
    padding: 0.7em 0.1em 0.6em 0.3em;
    font-size: 0.8rem;
    color: #999;
    border: none;
}

.g-drop>.menu {
    border: none;
    background-color: transparent;
    overflow: auto;
    max-height: none;
    border-radius: 0.5rem;
}

.g-drop>.menu a.button {
    padding: 0.5em 1em;
}