    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="index.php">
                    <strong>{{site_name}}</strong>
                    <span class="version">v{{version}}</span>
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="index.php" class="{{home_active}}">Home</a></li>
                <li><a href="?page=docs" class="{{docs_active}}">Docs</a></li>
                <li><a href="?page=examples" class="{{examples_active}}">Examples</a></li>
                <li><a href="?page=download" class="{{download_active}}">Download</a></li>
                <li><a href="?page=about" class="{{about_active}}">About</a></li>
                <li><a href="{{github_url}}" target="_blank" class="github-link">GitHub</a></li>
            </ul>
        </div>
    </nav>
