#main .left {
    padding: 3rem 6rem 3rem 2rem;
}
.newsletter {
    background: rgba(0, 0, 0, 0.05);
    padding: 4rem;
}

.newsletter h4 {
    padding: 3rem 0rem 3rem 2rem;
    color: #999;
}

.newsletter h4 em {
    display: block;
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: normal;
}