nav {
    border-top: 3px solid transparent;
}

@keyframes loading-border {
    0% {
        border-top-color: transparent;
        /* No color at start */
    }

    50% {
        border-top-color: #ffc257;
        /* Midpoint: visible color */
    }

    100% {
        border-top-color: transparent;
        /* End: invisible again */
    }
}

nav.loader {
    animation: loading-border 2s infinite;
    /* Animation applied */
}

.g-drop .open {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -0.5em;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 0.75rem;
    color: #fff;
}

.g-drop>.menu {
    top: 3.5rem;
    background: #644cbf;
    padding: 1rem;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
}

.g-drop>.menu>.item {
    font-size: 1.25rem;
    background: transparent;
}

.g-drop>.menu>.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.g-drop>.menu>.item b {
    width: 2rem;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.g-drop>.menu>.item.hl {
    text-shadow: 0 0 10px rgba(255, 194, 87, 0.8),
        0 0 20px rgba(255, 194, 87, 0.6),
        0 0 30px rgba(255, 194, 87, 0.4);
    transition: transform 0.3s ease;
}

.g-drop>.menu>.item.hl:hover {
    transform: scale(1.05);
}

p.user {
    width: 14rem;
}

p.user img {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 1.5rem;
    border: 2px solid #fff;
    float: left;
    margin-right: 0.5rem;
}

p.user b,
p.user em {
    color: #fff;
    display: block;
    width: calc(100% - 4rem);
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
}

p.user em {
    font-size: 0.9rem;
}

section.editor {
    width: 32rem;
    background-color: #f6f7fc;
    height: 30rem;
    position: fixed;
    left: calc(50% - 16rem);
    z-index: 9;
    border: 0.25rem solid #644cbf;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    transition: top 0.5s ease-in-out;
    top: -30rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

section.editor.vis {
    top: 0;
}

section .v {
    background-color: #fe5249;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
    border-radius: 1.5em;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.85em;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

section.editor a.del {
    background-color: #e5e7f3 !important;
}

.fav {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    display: inline-block;
    color: #999;
    font-size: 1.5rem;
}

.fav.act {
    color: red;
}

.fav:hover {
    color: red;
    transform: scale(1.5);
    /* Increase size by 10% */
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8),
        0 0 20px rgba(255, 0, 0, 0.6),
        0 0 30px rgba(255, 0, 0, 0.4);
    /* Glow effect */
}

.success p {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0;
}

.success p b {
    font-size: 8rem;
    width: 8rem;
    height: 10rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 10rem;
    color: green;
}


/* 32rem width :: om :: on-mobile */
@media (max-width: 639px) {
    nav {
        padding: 2rem !important;
        text-align: center;
    }

    nav div.flr {
        float: none;
        margin-top: 1rem;
    }

    .g2r .w1o4 {
        width: calc(100% - 1rem);
    }


}

/* 64rem width :: ot :: on-tablet */
@media (min-width: 640px) and (max-width: 1279px) {
    .g2r .w1o4 {
        width: calc((100% - 2rem) / 2);
    }
}